---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Kontakt',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Kontakt" title="Lassen Sie uns in Verbindung treten!" />

  <ContactUs
    id="form"
    title="Senden Sie uns noch heute eine Nachricht!"
    subtitle="Für schnellere Antworten besuchen Sie unseren FAQ-Bereich. Vielleicht finden Sie dort bereits die Lösung, die Sie suchen! Wenn nicht, hilft Ihnen unser Support-Team gerne weiter."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'E-Mail',
      },
    ]}
    textarea={{
      label: 'Nachricht',
    }}
    disclaimer={{
      label:
        'Mit dem Absenden dieses Kontaktformulars erkennen Sie an und stimmen zu, dass Ihre persönlichen Daten gesammelt werden.',
    }}
    description="Unser Support-Team antwortet in der Regel innerhalb von 24 Geschäftsstunden."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Wir sind hier, um Ihnen zu helfen!"
    items={[
      {
        title: 'Allgemeine Anfragen',
        description: `Kontaktieren Sie uns für Informationen über unsere Recyclingmaschinen, Firmendetails oder allgemeine Fragen zu Kunststoffrecyclingprozessen und -technologien.`,
      },
      {
        title: 'Verkaufsabteilung',
        description:
          'Wenden Sie sich an uns für Angebote, Anpassungsoptionen, Kapazitätsspezifikationen oder um Ihre spezifischen Anforderungen an Kunststoffrecycling zu besprechen. Wir finden die richtige Lösung für Sie.',
      },
      {
        title: 'Technischer Support',
        description:
          'Holen Sie sich Unterstützung bei der Maschineninstallation, Betriebsproblemen, Wartungsanfragen oder technischen Herausforderungen im Zusammenhang mit unseren Recyclinganlagen.',
      },
      {
        title: 'Telefon',
        description: '<a href="https://wa.me/13322501915" target="_blank" rel="noopener noreferrer" class="hover:underline">+1 332-250-1915</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'E-Mail',
        description: '<a href="mailto:sales@rumtoo.com" class="hover:underline">sales@rumtoo.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Standort',
        description: 'Jiangsu, China',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>