---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Rumtoo — Kunststoff-Recyclingmaschinen',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Jetzt erhalten',
        href: 'https://www.recyclemachine.net',
        target: '_blank',
        icon: 'tabler:recycle',
      },
      { text: 'Mehr erfahren', href: '#features' },
    ]}
    image={{ src: '~/assets/images/pet-bottle-washing-line.webp', alt: 'PET-Flaschen-Recycling-Waschlinie' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Rumtoo</span>
      <span class="text-accent dark:text-white highlight"> Kunststoff-Recyclingmaschinen</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Rumtoo</span> ist führender Hersteller hochwertiger Recyclingmaschinen für PET-Flaschen und PP/PE-Folien</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Rumtoo: Produktionsbereit.</span>
      Entdecken Sie, wie unsere fortschrittlichen Kunststoff-Recyclingmaschinen das Abfallmanagement revolutionieren und eine nachhaltige Zukunft schaffen können.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Plyr Video ******************** -->

  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
  <video id="player" controls autoplay muted>
    <source src="https://video.525.hk/PP%20raffia%20single%20shaft%20shredder(PP%20woven%20bag%20shredder).mp4" type="video/mp4">
    Ihr Browser unterstützt das Video-Tag nicht.
  </video>
  <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const player = new Plyr('#player');
    });
  </script>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Funktionen"
    title="Was Sie mit Rumtoo Recyclingmaschinen erhalten"
    subtitle="Eines der fortschrittlichsten und umfassendsten Recyclingmaschinensets auf dem Markt."
    items={[
      {
        title: 'Nahtlose Integration von Maschinen',
        description:
          'Eine vollständig integrierte Serie von Maschinen, die nahtlos PP/PE-Folien und andere Kunststoffe verarbeiten, einen effizienten Betrieb und hochwertige Ergebnisse vom verschmutzten Material bis zum Pellet gewährleisten.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Modernste Komponenten',
        description:
          'Hocheffiziente Komponenten von Ballenöffnern bis hin zu Pelletierern, bereit für den Einsatz in kleinen Produktionsstätten bis hin zu großflächigen Recyclinganlagen.',
        icon: 'tabler:components',
      },
      {
        title: 'Beste Praktiken im Kunststoffrecycling',
        description:
          'Maschinen, die entwickelt wurden, um die Reinigung, Trocknung und Wiederverwendung von Kunststoffabfällen zu automatisieren und dabei die höchsten Umwelt- und Betriebsstandards zu erfüllen.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Erhöhte Produktivität durch Innovation',
        description:
          'Innovationen wie unsere Nassgranulatoren und Reibungswäscher erhöhen den Durchsatz und verbessern die Reinheit des recycelten Materials, entscheidend für hochwertige Endprodukte.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Engagement für Nachhaltigkeit',
        description:
          "Jede Einrichtung ist nicht nur auf Betriebseffizienz ausgelegt, sondern auch darauf, die Umweltbelastung zu reduzieren und einen nachhaltigen Recyclingprozess zu fördern.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Anpassbare Lösungen',
        description:
          'Wir bieten vollständig anpassbare Linien, die spezifischen Anforderungen an Eingabekapazität, verarbeitete Kunststofftypen und die gewünschte Reinheit des Endprodukts gerecht werden.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Im Fokus"
    title="Rumtoo Recyclingmaschinen: Wo Innovation auf Nachhaltigkeit trifft!"
    items={[
      {
        title: 'Hocheffiziente PE-Folien-Waschlinie',
        description:
          'Unsere PE-Folien-Waschlinie bietet eine Eingangskapazität von 500 kg/h bis zu 3.000 kg/h und verwandelt verschmutzte PP/PE-Folien in saubere, kontaminationsfreie Stücke, die zur Pelletierung bereit sind.',
      },
      {
        title: 'Fortschrittliche Einwellen- und Doppelschnecken-Schredder',
        description:
          'Unsere robusten Schredder, die für Schwerlastanwendungen ausgelegt sind, können eine breite Palette von Materialien verarbeiten, darunter Kunststoffballen, Reifen und starre Kunststoffe, mit Kapazitäten von bis zu 2.000 kg/h.',
      },
      {
        title: 'Innovative Trennungstechnologien',
        description:
          'Unsere Trennungsgeräte, einschließlich Luftklassierern und Sink-/Schwimmbecken, entfernen Verunreinigungen effizient und sortieren gemischte Kunststoffe, was entscheidend für die Produktion hochwertiger Recyclingmaterialien ist.',
      },
    ]}
    image={{
      src: '~/assets/images/PP-PE-film-recycling-line.webp',
      alt: 'PP-PE-Folien-Recyclinglinie',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Innovative Lösungen für Kunststoffrecycling</h3>
      Nutzen Sie modernste Technologie und jahrzehntelange Erfahrung, um Ihre Recyclingprozesse zu verbessern.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Anpassbare Waschlinien',
        description: `Wir bieten maßgeschneiderte Waschlinien für verschiedene Kunststoffe, einschließlich PE-Folien und PET-Flaschen, die auf Ihre spezifischen Kapazitäts- und Qualitätsanforderungen zugeschnitten sind.`,
      },
      {
        title: 'Effiziente Zerkleinerungstechnologien',
        description:
          'Unsere Granulatoren und Schredder mit hochqualitativen D2-Stahlklingen gewährleisten eine gleichmäßige und effiziente Zerkleinerung verschiedener Kunststoffmaterialien.',
      },
      {
        title: 'Fortschrittliche Trocknungs- und Trenntechnologien',
        description:
          "Von Entwässerungsmaschinen bis hin zu Thermotrocknern sorgt unsere Ausrüstung für eine gründliche Reinigung und Trocknung der recycelten Kunststoffe und bereitet sie für hochwertige Endprodukte vor.",
      },
      {
        title: 'Hochwertige Pelletierungsausrüstung',
        description:
          'Unsere Ein- und Doppelschneckenextruder mit Heat Wave Stabilizing Technology™ produzieren konsistente, hochwertige Kunststoffpellets für verschiedene Anwendungen.',
      },
    ]}
    image={{
      src: '~/assets/images/plastic-shredder-crusher.webp',
      alt: 'Kunststoff-Schredder und Granulator',
    }}
  >
    <Fragment slot="content">Optimieren Sie Ihren Recyclingprozess</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Bringen Sie Ihr Recyclingwerk mit Rumtoo in Betrieb."
    items={[
      {
        title: 'Schritt 1: <span class="font-medium">Beratung</span>',
        description:
          "Kontaktieren Sie unsere Experten, um Ihre spezifischen Recyclinganforderungen zu besprechen.",
        icon: 'tabler:package',
      },
      {
        title: 'Schritt 2: <span class="font-medium">Individuelle Planung</span>',
        description:
          "Unsere Ingenieure erstellen eine maßgeschneiderte Lösung, die auf Ihre Anlage und Ihre Produktionsziele abgestimmt ist.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Schritt 3: <span class="font-medium">Umsetzung</span>',
        description:
          'Wir übernehmen die Installation, Einrichtung und Schulung, um Ihre Anlage schnell betriebsbereit zu machen.',
        icon: 'tabler:paint',
      },
      {
        title: 'Fertig!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Schrittbild',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Häufig gestellte Fragen"
    subtitle="Erfahren Sie mehr über die leistungsstarken Funktionen, die Rumtoo Recycling bietet, und wie es Ihre Kunststoffrecyclingprozesse verbessern kann."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Warum Rumtoo Recycling wählen?',
        description:
          "Rumtoo Recycling verfügt über mehr als zwei Jahrzehnte Erfahrung in der Herstellung von Kunststoff-Recyclingmaschinen. Wir sind bestrebt, hochwertige, langlebige Geräte herzustellen und einen hervorragenden Kundenservice sowie Support nach dem Verkauf zu bieten. Unsere Maschinen werden gründlich getestet, um Stabilität und Zuverlässigkeit im Langzeiteinsatz zu gewährleisten.",
      },
      {
        title: 'Wie installiert man Rumtoo-Recyclingmaschinen?',
        description:
          'Wir bieten Installationsservices an, einschließlich der Bereitstellung von Rumtoo-zertifizierten Elektro- und Maschinenbauingenieuren, um bei der Installation und Inbetriebnahme der Geräte zu helfen. Die Installation dauert in der Regel 7 bis 14 Tage, abhängig von der Größe des Projekts.',
      },
      {
        title: 'Welche Schritte sind erforderlich, um Rumtoo-Recyclinganlagen zu kaufen?',
        description:
          "Kontaktieren Sie zuerst unser Vertriebsteam, um Ihre Geräteanforderungen im Detail zu besprechen. Sobald die Spezifikationen bestätigt sind, stellen wir ein detailliertes Angebot bereit und unterzeichnen einen Vertrag. Die übliche Produktionszeit beträgt 60 Tage. Alle Geräte werden vor dem Versand getestet, und wir empfehlen Kunden, unsere Fabrik zur Inspektion zu besuchen.",
      },
      {
        title: "Sind Rumtoo-Maschinen zertifiziert?",
        description:
          "Ja, unsere Maschinen können die CE- oder ISO9001:2000-Zertifizierung bestehen, die Qualität und Sicherheit gewährleisten.",
      },
      {
        title: 'Wie lange ist die Garantiezeit für Rumtoo-Recyclingmaschinen?',
        description:
          "Wir bieten eine einjährige Qualitätsgarantie auf alle unsere Geräte. Wenn innerhalb der Garantiezeit Herstellungsfehler festgestellt werden, stellen wir Ersatzteile kostenlos zur Verfügung.",
      },
      {
        title: 'Wie kann ich Rumtoo kontaktieren, wenn ich weitere Fragen habe?',
        description:
          "Sie können sich jederzeit per E-Mail oder Telefon an unser Kundenserviceteam wenden. Wir stehen Ihnen gerne zur Verfügung, um alle Fragen zu beantworten und die notwendige Unterstützung zu bieten.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',
        href: 'https://www.toolant.net/contact',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
    ]}
  >
    <Fragment slot="title">
      Kontaktieren Sie uns&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Jetzt</span>
    </Fragment>

    <Fragment slot="subtitle">
      Wenn Sie Fragen zu unseren Bestellverfahren haben, <br class="hidden md:inline" />zögern Sie nicht, uns jederzeit zu kontaktieren.
    </Fragment>
  </CallToAction>
</Layout>