---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Rumtoo — Plastic Recycling Machines',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get now',
        href: 'https://www.recyclemachine.net',
        target: '_blank',
        icon: 'tabler:recycle',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/pet-bottle-washing-line.webp', alt: 'pet bottle recycling washing line' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Rumtoo</span>
      <span class="text-accent dark:text-white highlight"> Plastic Recycling Machines</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Rumtoo</span> is leading manufacturer of high quality PET Bottle、PP/PE Film Recycling Machinery</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Rumtoo: Production-ready.</span>
      Discover how our advanced plastic recycling machines can revolutionize waste management and create a sustainable future.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Plyr Video ******************** -->

  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
  <video id="player" controls autoplay muted>
    <source src="https://video.kn95.cc/PP%20raffia%20single%20shaft%20shredder(PP%20woven%20bag%20shredder).mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const player = new Plyr('#player');
    });
  </script>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What You Get with Rumtoo Recycling Machinery"
    subtitle="One of the most advanced and comprehensive recycling machine setups currently on the market."
    items={[
      {
        title: 'Seamless Integration of Machinery',
        description:
          'A fully integrated series of machines designed to process PP / PE films and other plastics seamlessly, ensuring efficient operation and high-quality output from dirty film to pellet form.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'State-of-the-Art Components',
        description:
          'High-efficiency components from debalers to pelletizers are ready for deployment in a range of settings from small production facilities to large-scale recycling plants.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices in Plastic Recycling',
        description:
          'Machines are built to handle and automate the cleaning, drying, and repurposing of plastic waste, adhering to the best environmental practices and highest operational standards.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Enhanced Productivity Through Innovation',
        description:
          'Innovations like our wet granulators and friction washers increase throughput and improve the purity of recycled material, crucial for high-quality end products.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Dedicated to Sustainability',
        description:
          "Each setup is designed not just for operational efficiency but also with an eye towards reducing environmental impact, fostering a sustainable recycling process.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Customizable Solutions',
        description:
          'Offering fully customizable lines tailored to meet specific needs regarding input capacity, types of plastics processed, and desired output purity.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Rumtoo Recycling Machinery: Where Innovation Meets Sustainability!"
    items={[
      {
        title: 'High-efficiency PE Film Washing Line',
        description:
          'Our PE film washing line offers an input capacity from 500kg/h up to 3,000kg/h, turning dirty PP/PE films into clean, contaminant-free pieces ready for pelletizing.',
      },
      {
        title: 'Advanced Single and Double-Shaft Shredders',
        description:
          'Our robust shredders, designed for heavy-duty applications, can handle a wide range of materials including plastic film bales, tires, and rigid plastics, with capacities up to 2,000 KG/H.',
      },
      {
        title: 'Innovative Separation Technologies',
        description:
          'Our separation equipment, including air classifiers and sink/float tanks, efficiently remove contaminants and sort mixed plastics, crucial for producing high-quality recycled materials.',
      },
    ]}
    image={{
      src: '~/assets/images/PP-PE-film-recycling-line.webp',
      alt: 'PP PE film recycling line',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Innovative Plastic Recycling Solutions</h3>
      Leverage cutting-edge technology and decades of expertise to enhance your plastic recycling processes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Customizable washing lines',
        description: `We offer tailor-made washing lines for various plastics, including PE films and PET bottles, designed to meet your specific capacity and quality requirements.`,
      },
      {
        title: 'Efficient size reduction equipment',
        description:
          'Our granulators and shredders, featuring high-quality D2 steel blades, ensure consistent and efficient size reduction for various plastic materials.',
      },
      {
        title: 'Advanced drying and separation technologies',
        description:
          "From dewatering machines to thermal dryers, our equipment ensures thorough cleaning and drying of recycled plastics, preparing them for high-quality output.",
      },
      {
        title: 'High-quality pelletizing equipment',
        description:
          'Our single and twin-screw extruders, featuring Heat Wave Stabilizing Technology™, produce consistent, high-quality plastic pellets for various applications.',
      },
    ]}
    image={{
      src: '~/assets/images/plastic-shredder-crusher.webp',
      alt: 'Plastic Shredder and Granulator',
    }}
  >
    <Fragment slot="content">Optimize Your Recycling Process</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced Operational Efficiency',
        description:
          'Our state-of-the-art machines ensure that your recycling line operates smoothly, reducing downtime and increasing throughput for maximum profitability.',
      },
      {
        title: 'Cost-Effective and Energy Efficient',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Seamless Integration',
        description:
          'Our machines integrate effortlessly with your existing systems, ensuring smooth and efficient operations across your entire plant.',
      },
      {
        title: 'Continuous Improvement and Support',
        description: ` Stay ahead of the competition with machines that adapt to new recycling challenges through regular updates and enhancements, supported by our dedicated customer service team.`,
      },
    ]}
    image={{
      src: '~/assets/images/BOPP-Film-Recycling-Granulating-Line.webp',
      alt: 'BOPP Film Recycling Granulating Line',
    }}
  >
    <Fragment slot="content">Maximize Your Output and Profitability.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get Your Recycling Plant Up and Running with Rumtoo."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consultation</span>',
        description:
          "Connect with our experts to discuss your specific recycling needs and requirements.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Custom Design</span>',
        description:
          "Our engineers will create a tailored solution to fit your facility and production goals.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Implementation</span>',
        description:
          'We\'ll handle the installation, setup, and training to get your plant operational quickly.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  
  <!-- Features2 Widget ************** -->

  <Features2
    title="Plastic Recycle Materials"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'PET Bottle Pellets',
        description: "PET pellets obtained after pelletizing PET bottle flakes; left: light blue transparent flakes, right: uniform dark blue pellets.",
        image: 'https://video.kn95.cc/Recycle%20Materials/PET%20Bottle%20Pellets.jpg', // 使用图片
      },
      {
        title: 'Artificial Turf Pellets',
        description:
          "Artificial turf pellets obtained after pelletizing; left: green synthetic grass fibers, right: uniform green pellets.",
        image: 'https://video.kn95.cc/Recycle%20Materials/Artificial%20turf%20pellets.jpg',
      },
      {
        title: 'Rigid Plastic',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'PE Film',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Densified material',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'PVC Pipe',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Rubber',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Non-woven',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Woven bags',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Rumtoo Recycling offers and how it can elevate your plastic recycling operations."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why choose Rumtoo Recycling?',
        description:
          "Rumtoo Recycling has over two decades of experience in manufacturing plastic recycling machinery. We are committed to producing high-quality, durable equipment and providing excellent customer service and after-sales support. Our machinery is rigorously tested to ensure stability and reliability in long-term use.",
      },
      {
        title: 'How to install Rumtoo’s recycling machinery?',
        description:
          'We offer installation services, including arranging Rumtoo-certified electrical and mechanical engineers to assist with equipment installation and commissioning. The installation process typically takes 7 to 14 days, depending on the size of the project.',
      },
      {
        title: 'What are the steps to purchase Rumtoo recycling equipment?',
        description:
          "First, contact our sales team to discuss your equipment needs in detail. Once the specifications are confirmed, we will provide a detailed quotation and sign a contract. The usual production period is 60 days. All equipment is tested before shipment, and we recommend customers visit our factory for inspection.",
      },
      {
        title: "Are Rumtoo’s machines certified?",
        description:
          "Yes, our machines can pass CE or ISO9001:2000 certification, ensuring quality and safety.",
      },
      {
        title: 'What is the warranty period for Rumtoo recycling machinery?',
        description:
          "We offer a one-year quality warranty on all our equipment. If any manufacturing defects are found within the warranty period, we will provide replacement parts free of charge.",
      },
      {
        title: 'How can I contact Rumtoo if I have more questions?',
        description:
          "We welcome you to contact our customer service team via email or phone at any time. We are dedicated to answering any questions and providing the support you need.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: 'https://www.toolant.net/contact',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
    ]}
  >
    <Fragment slot="title">
      Inquire&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Now</span>
    </Fragment>

    <Fragment slot="subtitle">
      If you have any questions regarding our ordering procedures. <br class="hidden md:inline" />feel free to contact us at anytime
    </Fragment>
  </CallToAction>
</Layout>
