---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Rumtoo — Plastic Recycling Machines',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get now',
        href: 'https://www.recyclemachine.net',
        target: '_blank',
        icon: 'tabler:recycle',
      },
      { text: 'Learn more', href: '#features' },
    ]}
image={{ 
  src: 'https://recycling.imgix.net/recycling%20line/pet-bottle-washing-line.webp?fit=crop&auto=format,compress&fm=webp', 
  alt: 'PET-Flaschen-Recycling-Waschanlage' 
}}
 >
  <Fragment slot="title">
    <span class="hidden xl:inline">Rumtoo</span>
    <span class="text-accent dark:text-white highlight"> Kunststoff-Recyclingmaschinen</span>
  </Fragment>
 
  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">Rumtoo</span> ist ein führender Hersteller hochwertiger PET-Flaschen- und PP/PE-Folien-Recyclingmaschinen</span
    >
    <span class="block mb-1 sm:hidden font-bold text-blue-600">Rumtoo: Produktionsbereit.</span>
    Entdecken Sie, wie unsere fortschrittlichen Kunststoff-Recyclingmaschinen die Abfallwirtschaft revolutionieren und eine nachhaltige Zukunft schaffen können.
  </Fragment>
 </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Plyr Video ******************** -->

  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
  <video id="player" controls autoplay muted>
    <source src="https://video.525.hk/PP%20raffia%20single%20shaft%20shredder(PP%20woven%20bag%20shredder).mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const player = new Plyr('#player');
    });
  </script>

<!-- Features Widget *************** -->

<Features
 id="features"
 tagline="Merkmale"
 title="Was Sie mit Rumtoo Recyclingmaschinen bekommen"
 subtitle="Eine der fortschrittlichsten und umfassendsten Recyclingmaschinen-Anlagen auf dem aktuellen Markt."
 items={[
   {
     title: 'Nahtlose Integration der Maschinen',
     description:
       'Eine vollständig integrierte Maschinenserie zur nahtlosen Verarbeitung von PP/PE-Folien und anderen Kunststoffen, die einen effizienten Betrieb und hochwertige Ausgabe von verschmutzter Folie bis zur Pelletform gewährleistet.',
     icon: 'tabler:brand-tailwind',
   },
   {
     title: 'Modernste Komponenten',
     description:
       'Hocheffiziente Komponenten von Ballenöffnern bis zu Pelletierern sind einsatzbereit für verschiedene Umgebungen, von kleinen Produktionsanlagen bis zu großen Recyclingwerken.',
     icon: 'tabler:components',
   },
   {
     title: 'Best Practices im Kunststoffrecycling',
     description:
       'Die Maschinen sind für die Handhabung und Automatisierung der Reinigung, Trocknung und Wiederverwertung von Kunststoffabfällen konzipiert und entsprechen den besten Umweltpraktiken und höchsten Betriebsstandards.',
     icon: 'tabler:list-check',
   },
   {
     title: 'Gesteigerte Produktivität durch Innovation',
     description:
       'Innovationen wie unsere Nassgranulierung und Friktionswäscher erhöhen den Durchsatz und verbessern die Reinheit des recycelten Materials, entscheidend für hochwertige Endprodukte.',
     icon: 'tabler:rocket',
   },
   {
     title: 'Der Nachhaltigkeit verpflichtet',
     description:
       'Jede Anlage ist nicht nur für betriebliche Effizienz ausgelegt, sondern auch mit Blick auf die Reduzierung der Umweltbelastung, zur Förderung eines nachhaltigen Recyclingprozesses.',
     icon: 'tabler:arrows-right-left',
   },
   {
     title: 'Maßgeschneiderte Lösungen',
     description:
       'Angebot vollständig anpassbarer Linien, maßgeschneidert für spezifische Anforderungen bezüglich Eingangskapazität, verarbeiteter Kunststoffarten und gewünschter Ausgabereinheit.',
     icon: 'tabler:bulb',
   },
 ]}
/>

<!-- Content Widget **************** -->

<Content
 isReversed
 tagline="Innenvorlage"
 title="Rumtoo Recyclingmaschinen: Wo Innovation auf Nachhaltigkeit trifft!"
 items={[
   {
     title: 'Hocheffiziente PE-Folien-Waschanlage',
     description:
       'Unsere PE-Folien-Waschanlage bietet eine Eingangskapazität von 500 kg/h bis zu 3.000 kg/h und verwandelt verschmutzte PP/PE-Folien in saubere, kontaminationsfreie Stücke, die zum Pelletieren bereit sind.',
   },
   {
     title: 'Fortschrittliche Ein- und Doppelwellen-Schredder',
     description:
       'Unsere robusten Schredder sind für den Schwerlastbetrieb ausgelegt und können eine Vielzahl von Materialien wie Kunststofffolien-Ballen, Reifen und Hartkunststoffe mit Kapazitäten bis zu 2.000 KG/H verarbeiten.',
   },
   {
     title: 'Innovative Trenntechnologien',
     description:
       'Unsere Trennanlagen, einschließlich Luftklassierer und Schwimm-Sink-Becken, entfernen effizient Verunreinigungen und sortieren gemischte Kunststoffe - entscheidend für die Produktion hochwertiger Recyclingmaterialien.',
   },
 ]}
 image={{
  src: 'https://recycling.imgix.net/recycling%20line/PP-PE-film-recycling-line.webp?fit=crop&auto=format,compress&fm=webp', 
  alt: 'PP/PE-Folien-Recyclinglinie',
 }}
>
 <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Innovative Kunststoff-Recycling-Lösungen</h3>
   Nutzen Sie modernste Technologie und jahrzehntelange Expertise zur Verbesserung Ihrer Kunststoff-Recyclingprozesse.
 </Fragment>

 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
 isAfterContent
 items={[
   {
     title: 'Anpassbare Waschanlagen',
     description: 'Wir bieten maßgeschneiderte Waschanlagen für verschiedene Kunststoffe an, einschließlich PE-Folien und PET-Flaschen, die auf Ihre spezifischen Kapazitäts- und Qualitätsanforderungen ausgelegt sind.',
   },
   {
     title: 'Effiziente Zerkleinerungsanlagen',
     description: 'Unsere Granulatoren und Schredder mit hochwertigen D2-Stahlmessern gewährleisten eine konstante und effiziente Größenreduzierung für verschiedene Kunststoffmaterialien.',
   },
   {
     title: 'Fortschrittliche Trocknungs- und Trenntechnologien',
     description: 'Von Entwässerungsmaschinen bis zu Thermaltrocknern - unsere Anlagen gewährleisten eine gründliche Reinigung und Trocknung recycelter Kunststoffe für hochwertige Endprodukte.',
   },
   {
     title: 'Hochwertige Pelletieranlagen',
     description: 'Unsere Ein- und Doppelschneckenextruder mit Heat Wave Stabilizing Technology™ produzieren konstant hochwertige Kunststoffpellets für verschiedene Anwendungen.',
   },
 ]}
 image={{
  src: 'https://recycling.imgix.net/recycling%20line/plastic-shredder-crusher.webp?fit=crop&auto=format,compress&fm=webp', 
  alt: 'Kunststoff-Schredder und Granulator',
 }}
>
 <Fragment slot="content">Optimieren Sie Ihren Recyclingprozess</Fragment>

 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
 isReversed
 isAfterContent
 items={[
   {
     title: 'Verbesserte Betriebseffizienz',
     description:
       'Unsere hochmodernen Maschinen gewährleisten einen reibungslosen Betrieb Ihrer Recyclinglinie, reduzieren Ausfallzeiten und erhöhen den Durchsatz für maximale Rentabilität.',
   },
   {
     title: 'Kostengünstig und Energieeffizient',
     description:
       'Sichern Sie durch regelmäßige Aktualisierungen und Verbesserungen die Anpassung Ihrer Anlage an die neuesten Trends und Technologien.',
   },
   {
     title: 'Nahtlose Integration', 
     description:
       'Unsere Maschinen integrieren sich mühelos in Ihre bestehenden Systeme und gewährleisten einen reibungslosen und effizienten Betrieb in Ihrer gesamten Anlage.',
   },
   {
     title: 'Kontinuierliche Verbesserung und Unterstützung',
     description: 'Bleiben Sie der Konkurrenz einen Schritt voraus mit Maschinen, die sich durch regelmäßige Updates und Verbesserungen an neue Recycling-Herausforderungen anpassen, unterstützt von unserem engagierten Kundenservice-Team.',
   },
 ]}
 image={{
  src: 'https://recycling.imgix.net/recycling%20line/BOPP-Film-Recycling-Granulating-Line.webp?fit=crop&auto=format,compress&fm=webp', 
  alt: 'BOPP-Folien-Recycling-Granulieranlage',
 }}
>
 <Fragment slot="content">Maximieren Sie Ihren Output und Ihre Rentabilität.</Fragment>

 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Content>

<!-- Steps Widget ****************** -->

<Steps
  title="Bringen Sie Ihre Recyclinganlage mit Rumtoo zum Laufen"
  items={[
    {
      title: 'Schritt 1: <span class="font-medium">Beratung</span>',
      description:
        "Sprechen Sie mit unseren Experten über Ihre spezifischen Recyclinganforderungen.",
      icon: 'tabler:package',
    },
    {
      title: 'Schritt 2: <span class="font-medium">Individuelles Design</span>',
      description:
        "Unsere Ingenieure entwickeln eine maßgeschneiderte Lösung für Ihre Anlage und Produktionsziele.",
      icon: 'tabler:letter-case',
    },
    {
      title: 'Schritt 3: <span class="font-medium">Umsetzung</span>',
      description:
        'Wir übernehmen Installation, Einrichtung und Schulung, damit Ihre Anlage schnell betriebsbereit ist.',
      icon: 'tabler:paint',
    },
      {
        title: 'Fertig!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: ' image',
    }}
  />
  
  <Features2
  title="Recyclingmaterialien"
  subtitle="Bietet häufig verwendete Komponenten für die Verarbeitung verschiedener Kunststoffe"
  tagline="Materialien"
  items={[
    {
      title: 'PET-Flaschen-Pellets',
      description: "PET-Flaschen-Pellets entstehen nach dem Recycling- und Pelletierprozess gebrauchter PET-Flaschen. Diese hellblauen transparenten Flakes und dunkelblauen einheitlichen Pellets können zur Herstellung neuer Flaschen, Textilien oder anderer Produkte verwendet werden und geben altem PET ein neues Leben.",
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_PET%20Bottle%20Pellets.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'Kunstrasen-Pellets',
      description: "Kunstrasen-Pellets werden aus recycelten synthetischen Grasfasern hergestellt, die häufig auf Sportplätzen oder in der Landschaftsgestaltung zu finden sind. Die grünen Fasern werden geschreddert, verarbeitet und in einheitliche grüne Pellets umgewandelt, die dann in verschiedenen Kunststoffprodukten verwendet werden und die Nachhaltigkeit fördern.",
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_Artificial%20turf%20pellets.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'Hartkunststoff',
      description: 'Hartkunststoffabfälle, die sich durch ihre langlebige und nicht flexible Beschaffenheit auszeichnen, sind ideal für die Hochleistungszerkleinerung. Von kaputtem Spielzeug bis hin zu Haushaltsbehältern ist dieses Material nach der Verarbeitung leicht recycelbar und wird in verschiedenen Industrien breit eingesetzt.',
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_Rigid%20Plastic.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'PE-Folienabfälle',
      description: "PE-Folien, die häufig in Verpackungen und landwirtschaftlichen Anwendungen zu finden sind, sind ein Grundpfeiler der Recyclingindustrie. Nach der Reinigung und Zerkleinerung werden diese Folien als neue Kunststoffprodukte wieder in den Markt eingeführt und reduzieren damit Deponieabfälle.",
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_Waste%20PE%20Film.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'Verdichtetes Material',
      description: 'Verdichtete Materialien, die aus komprimierten Kunststoffabfällen entstehen, sind perfekt für eine effiziente Lagerung und Transport. Ihre kompakte Beschaffenheit macht sie ideal für Industrien, die Platz minimieren und gleichzeitig den Materialnutzen maximieren wollen.',
      image: 'https://recycling.imgix.net/Material/Densified%20material.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'PVC-Rohre',
      description: 'PVC-Rohre, die häufig im Bau und in der Sanitärtechnik verwendet werden, können zu neuen Rohren recycelt oder zu Pellets für verschiedene Kunststoffprodukte verarbeitet werden. Das Recycling von PVC hilft, die Umweltbelastung zu reduzieren und fördert die Wiederverwendung wertvoller Materialien.',
      image: 'https://recycling.imgix.net/Material/PVC%20Pipe.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'Gummi',
      description: 'Gummiabfälle, von alten Reifen bis hin zu entsorgten Industriematerialien, finden durch Zerkleinerung und Wiederaufbereitung ein neues Leben. Recycelter Gummi wird häufig für Spielplatzbeläge, Sportbahnen und andere langlebige, widerstandsfähige Produkte verwendet.',
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_rubber%20belt.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'Vliesstoffe',
      description: 'Vliesstoffabfälle, die häufig in Einwegartikeln wie OP-Masken und Reinigungstüchern zu finden sind, tragen erheblich zur Kunststoffverschmutzung bei. Durch Recycling werden diese Materialien in neue Produkte umgewandelt und helfen dabei, Umweltabfälle zu reduzieren.',
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_Woven%20Bags.webp?fit=crop&auto=format,compress&fm=webp',
    },
    {
      title: 'PET-Flaschen-Etikettenentfernung',
      description: "Die Entfernung von Etiketten von PET-Flaschen ist ein wesentlicher Schritt im Recyclingprozess. Saubere, etikettenfreie PET-Flaschen werden zu Flakes oder Pellets verarbeitet, die dann in der Herstellung neuer Kunststoffprodukte wie Fasern, Flaschen und Verpackungsmaterialien wiederverwendet werden können.",
      image: 'https://recycling.imgix.net/Material/Recycle%20Materials_PET%20Bottle%20label%20removal.webp?fit=crop&auto=format,compress&fm=webp',
    },
  ]}
 >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
  title="Entdecken Sie weitere Inhalte in unserem Blog"
  information={`Unser Blog widmet sich ausführlichen Artikeln und Einblicken in die Welt der Kunststoff-Recyclingmaschinen. Von innovativen Technologien bis hin zu detaillierten Anleitungen bietet jeder Beitrag wertvolle Informationen, die Ihnen helfen, Ihre Recyclingprozesse zu verbessern und über die neuesten Branchentrends informiert zu bleiben. Erkunden Sie Expertentipps, Fallstudien und Maschinenmerkmale, die entwickelt wurden, um die Effizienz und Nachhaltigkeit in Ihren Betriebsabläufen zu steigern.`}
 />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Häufig gestellte Fragen"
    subtitle="Tauchen Sie ein in die folgenden Fragen, um Einblicke in die leistungsstarken Funktionen von Rumtoo Recycling zu erhalten und zu erfahren, wie sie Ihren Kunststoffrecyclingbetrieb verbessern können."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Warum Rumtoo Recycling wählen?',
        description: 'Rumtoo Recycling verfügt über mehr als zwei Jahrzehnte Erfahrung in der Herstellung von Kunststoff-Recyclingmaschinen. Wir sind der Produktion hochwertiger, langlebiger Anlagen und exzellentem Kundenservice sowie After-Sales-Support verpflichtet. Unsere Maschinen werden rigoros getestet, um Stabilität und Zuverlässigkeit im Langzeitbetrieb zu gewährleisten.',
      },
      {
        title: 'Wie werden Rumtoos Recyclingmaschinen installiert?',
        description: 'Wir bieten Installationsservices an, einschließlich der Bereitstellung von Rumtoo-zertifizierten Elektro- und Maschinenbauingenieuren zur Unterstützung bei Installation und Inbetriebnahme. Der Installationsprozess dauert typischerweise 7 bis 14 Tage, abhängig von der Projektgröße.',
      },
      {
        title: 'Wie kaufe ich Rumtoo Recyclingausrüstung?',
        description: 'Kontaktieren Sie zunächst unser Verkaufsteam, um Ihren Ausrüstungsbedarf im Detail zu besprechen. Nach Bestätigung der Spezifikationen erstellen wir ein detailliertes Angebot und unterzeichnen einen Vertrag. Die übliche Produktionszeit beträgt 60 Tage. Alle Geräte werden vor dem Versand getestet, und wir empfehlen Kunden, unser Werk zur Inspektion zu besuchen.',
      },
      {
        title: 'Sind Rumtoos Maschinen zertifiziert?',
        description: 'Ja, unsere Maschinen können CE- oder ISO9001:2000-Zertifizierung vorweisen, was Qualität und Sicherheit garantiert.',
      },
      {
        title: 'Wie lange ist die Garantiezeit für Rumtoo Recyclingmaschinen?',
        description: 'Wir bieten eine einjährige Qualitätsgarantie auf alle unsere Geräte. Bei Herstellungsfehlern innerhalb der Garantiezeit stellen wir kostenlos Ersatzteile zur Verfügung.',
      },
      {
        title: 'Wie kann ich Rumtoo bei weiteren Fragen kontaktieren?',
        description: 'Sie können unser Kundenservice-Team jederzeit per E-Mail oder Telefon kontaktieren. Wir sind engagiert, alle Ihre Fragen zu beantworten und die benötigte Unterstützung zu leisten.',
      }
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'View', amount: '132K' },
      { title: 'Stars', amount: '82.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '1.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',
        href: 'https://www.recyclingmachine.de/contact',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
    ]}
  >
  <Fragment slot="title">
    Jetzt&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Anfragen</span>
  </Fragment>

    <Fragment slot="subtitle">
      Wenn Sie Fragen zu unseren Bestellvorgängen haben, <br class="hidden md:inline" />können Sie uns jederzeit kontaktieren.
    </Fragment>
  </CallToAction>
</Layout>
