---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Rumtoo — Plastic Recycling Machines',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions=[
      {
        variant: 'primary',
        text: 'Get now',
        href: 'https://www.recyclemachine.net',
        target: '_blank',
        icon: 'tabler:recycle',
      },
      { text: 'Learn more', href: '#features' },
    ]
    image={{ src: '~/assets/images/pet-bottle-washing-line.webp', alt: 'pet bottle recycling washing line', loading: 'lazy' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Rumtoo</span>
      <span class="text-accent dark:text-white highlight"> Plastic Recycling Machines</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Rumtoo</span> is leading manufacturer of high quality PET Bottle、PP/PE Film Recycling Machinery</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Rumtoo: Production-ready.</span>
      Discover how our advanced plastic recycling machines can revolutionize waste management and create a sustainable future.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Plyr Video ******************** -->

  <link rel="preload" href="https://cdn.plyr.io/3.7.2/plyr.css" as="style" />
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
  <video id="player" controls preload="none" muted>
    <source src="https://video.kn95.cc/PP%20raffia%20single%20shaft%20shredder(PP%20woven%20bag%20shredder).mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <script defer src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const player = new Plyr('#player');
    });
  </script>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What You Get with Rumtoo Recycling Machinery"
    subtitle="One of the most advanced and comprehensive recycling machine setups currently on the market."
    items=[
      {
        title: 'Seamless Integration of Machinery',
        description:
          'A fully integrated series of machines designed to process PP / PE films and other plastics seamlessly, ensuring efficient operation and high-quality output from dirty film to pellet form.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'State-of-the-Art Components',
        description:
          'High-efficiency components from debalers to pelletizers are ready for deployment in a range of settings from small production facilities to large-scale recycling plants.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices in Plastic Recycling',
        description:
          'Machines are built to handle and automate the cleaning, drying, and repurposing of plastic waste, adhering to the best environmental practices and highest operational standards.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Enhanced Productivity Through Innovation',
        description:
          'Innovations like our wet granulators and friction washers increase throughput and improve the purity of recycled material, crucial for high-quality end products.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Dedicated to Sustainability',
        description:
          "Each setup is designed not just for operational efficiency but also with an eye towards reducing environmental impact, fostering a sustainable recycling process.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Customizable Solutions',
        description:
          'Offering fully customizable lines tailored to meet specific needs regarding input capacity, types of plastics processed, and desired output purity.',
        icon: 'tabler:bulb',
      },
    ]
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Rumtoo Recycling Machinery: Where Innovation Meets Sustainability!"
    items=[
      {
        title: 'High-efficiency PE Film Washing Line',
        description:
          'Our PE film washing line offers an input capacity from 500kg/h up to 3,000kg/h, turning dirty PP/PE films into clean, contaminant-free pieces ready for pelletizing.',
      },
      {
        title: 'Advanced Single and Double-Shaft Shredders',
        description:
          'Our robust shredders, designed for heavy-duty applications, can handle a wide range of materials including plastic film bales, tires, and rigid plastics, with capacities up to 2,000 KG/H.',
      },
      {
        title: 'Innovative Separation Technologies',
        description:
          'Our separation equipment, including air classifiers and sink/float tanks, efficiently remove contaminants and sort mixed plastics, crucial for producing high-quality recycled materials.',
      },
    ]
    image={{
      src: '~/assets/images/PP-PE-film-recycling-line.webp',
      alt: 'PP PE film recycling line',
      loading: 'lazy'
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Innovative Plastic Recycling Solutions</h3>
      Leverage cutting-edge technology and decades of expertise to enhance your plastic recycling processes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items=[
      {
        title: 'Customizable washing lines',
        description: `We offer tailor-made washing lines for various plastics, including PE films and PET bottles, designed to meet your specific capacity and quality requirements.`,
      },
      {
        title: 'Efficient size reduction equipment',
        description:
          'Our granulators and shredders, featuring high-quality D2 steel blades, ensure consistent and efficient size reduction for various plastic materials.',
      },
      {
        title: 'Advanced drying and separation technologies',
        description:
          "From dewatering machines to thermal dryers, our equipment ensures thorough cleaning and drying of recycled plastics, preparing them for high-quality output.",
      },
      {
        title: 'High-quality pelletizing equipment',
        description:
          'Our single and twin-screw extruders, featuring Heat Wave Stabilizing Technology™, produce consistent, high-quality plastic pellets for various applications.',
      },
    ]
    image={{
      src: '~/assets/images/plastic-shredder-crusher.webp',
      alt: 'Plastic Shredder and Granulator',
      loading: 'lazy'
    }}
  >
    <Fragment slot="content">Optimize Your Recycling Process</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items=[
      {
        title: 'Enhanced Operational Efficiency',
        description:
          'Our state-of-the-art machines ensure that your recycling line operates smoothly, reducing downtime and increasing throughput for maximum profitability.',
      },
      {
        title: 'Cost-Effective and Energy Efficient',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Seamless Integration',
        description:
          'Our machines integrate effortlessly with your existing systems, ensuring smooth and efficient operations across your entire plant.',
      },
      {
        title: 'Continuous Improvement and Support',
        description: ` Stay ahead of the competition with machines that adapt to new recycling challenges through regular updates and enhancements, supported by our dedicated customer service team.`,
      },
    ]
    image={{
      src: '~/assets/images/BOPP-Film-Recycling-Granulating-Line.webp',
      alt: 'BOPP Film Recycling Granulating Line',
      loading: 'lazy'
    }}
  >
    <Fragment slot="content">Maximize Your Output and Profitability.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get Your Recycling Plant Up and Running with Rumtoo."
    items=[
      {
        title: 'Step 1: <span class="font-medium">Consultation</span>',
        description:
          "Connect with our experts to discuss your specific recycling needs and requirements.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Custom Design</span>',
        description:
          "Our engineers will create a tailored solution to fit your facility and production goals.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Implementation</span>',
        description:
          'We\'ll handle the installation, setup, and training to get your plant operational quickly.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
      loading: 'lazy'
    }}
  />
  
  <!-- Features2 Widget ************** -->

  <Features2
    title="Plastic Recycle Materials"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items=[
      {
        title: 'PET Bottle Pellets',
        description: "PET bottle pellets are created after the recycling and pelletizing process of used PET bottles. These light blue transparent flakes and dark blue uniform pellets can be used to manufacture new bottles, textiles, or other products, giving old PET a new life.",
        image: 'https://video.kn95.cc/Recycle%20Materials/PET%20Bottle%20Pellets.webp',
      },
      {
        title: 'Artificial Turf Pellets',
        description:
          "Artificial turf pellets are produced from recycled synthetic grass fibers, often found in sports fields or landscaping. The green fibers are shredded, processed, and converted into uniform green pellets, which are then used in various plastic products, promoting sustainability.",
        image: 'https://video.kn95.cc/Recycle%20Materials/Artificial%20turf%20pellets.webp',
      },
      {
        title: 'Rigid Plastic',
        description:
          'Rigid plastic waste, characterized by its durable and non-flexible nature, is ideal for high-capacity shredding. From broken toys to household containers, this material is easily recyclable and widely used in various industries after processing.',
        image: 'https://video.kn95.cc/Recycle%20Materials/Rigid%20Plastic.webp',
      },
      {
        title: 'Waste PE Film',
        description:
          "Waste PE films, commonly found in packaging and agricultural applications, are a staple in the recycling industry. After cleaning and shredding, these films are reintroduced into the market as new plastic products, reducing landfill waste.",
        image: 'https://video.kn95.cc/Recycle%20Materials/Waste%20PE%20Film.webp',
      },
      {
        title: 'Densified material',
        description:
          'Densified materials, formed from compressed waste plastics, are perfect for efficient storage and transportation. Their compact nature makes them ideal for industries looking to minimize space while maximizing material utility.',
        image: 'https://video.kn95.cc/Densified%20material.webp',
      },
      {
        title: 'PVC Pipe',
        description: 'PVC pipes, often used in construction and plumbing, can be recycled into new pipes or converted into pellets for various plastic products. The recycling of PVC helps reduce environmental impact and promotes the reuse of valuable materials.',
        image: 'https://video.kn95.cc/PVC%20Pipe.webp',
      },
      {
        title: 'Rubber',
        description: 'Rubber waste, from old tires to discarded industrial materials, finds new life through shredding and reprocessing. Recycled rubber is commonly used in playground surfaces, sports tracks, and other durable, resilient products.',
        image: 'https://video.kn95.cc/Recycle%20Materials/rubber%20belt.webp',
      },
      {
        title: 'Non-woven',
        description:
          'Non-woven fabric waste, often found in disposable items like surgical masks and cleaning wipes, is a significant contributor to plastic pollution. Through recycling, these materials are transformed into new products, helping reduce environmental waste.',
        image: 'https://video.kn95.cc/Non-woven.webp',
      },
      {
        title: 'PET Bottle label removal',
        description: "Removing labels from PET bottles is an essential step in the recycling process. Clean, label-free PET bottles are processed into flakes or pellets, which can be reused in manufacturing new plastic products like fibers, bottles, and packaging materials.",
        image: 'https://video.kn95.cc/PET%20bottle%20label%20removal.webp',
      },
    ]
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Our blog is dedicated to providing in-depth articles and insights into the world of plastic recycling machinery. From innovative technologies to detailed guides, each post offers valuable information to help you enhance your recycling processes and stay updated with the latest industry trends. Explore expert tips, case studies, and machinery features designed to improve efficiency and sustainability in your operations.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Rumtoo Recycling offers and how it can elevate your plastic recycling operations."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items=[
      {
        title: 'Why choose Rumtoo Recycling?',
        description:
          "Rumtoo Recycling has over two decades of experience in manufacturing plastic recycling machinery. We are committed to producing high-quality, durable equipment and providing excellent customer service and after-sales support. Our machinery is rigorously tested to ensure stability and reliability in long-term use.",
      },
      {
        title: 'How to install Rumtoo’s recycling machinery?',
        description:
          'We offer installation services, including arranging Rumtoo-certified electrical and mechanical engineers to assist with equipment installation and commissioning. The installation process typically takes 7 to 14 days, depending on the size of the project.',
      },
      {
        title: 'What are the steps to purchase Rumtoo recycling equipment?',
        description:
          "First, contact our sales team to discuss your equipment needs in detail. Once the specifications are confirmed, we will provide a detailed quotation and sign a contract. The usual production period is 60 days. All equipment is tested before shipment, and we recommend customers visit our factory for inspection.",
      },
      {
        title: "Are Rumtoo’s machines certified?",
        description:
          "Yes, our machines can pass CE or ISO9001:2000 certification, ensuring quality and safety.",
      },
      {
        title: 'What is the warranty period for Rumtoo recycling machinery?',
        description:
          "We offer a one-year quality warranty on all our equipment. If any manufacturing defects are found within the warranty period, we will provide replacement parts free of charge.",
      },
      {
        title: 'How can I contact Rumtoo if I have more questions?',
        description:
          "We welcome you to contact our customer service team via email or phone at any time. We are dedicated to answering any questions and providing the support you need.",
      },
    ]
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats=[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions=[
      {
        variant: 'primary',
        text: 'Contact',
        href: 'https://www.toolant.net/contact',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
    ]
  >
    <Fragment slot="title">
      Inquire&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Now</span>
    </Fragment>

    <Fragment slot="subtitle">
      If you have any questions regarding our ordering procedures. <br class="hidden md:inline" />feel free to contact us at anytime
    </Fragment>
  </CallToAction>
</Layout>
